<div id="div1" class="d1">
<br>

<a href="#">CQ</a>
<button id="logoutspan"  class="glyphicon glyphicon-log-out">
<span style="cursor:pointer;"></span>
</button><span class="sadmin" style="background-color: #f0ad4e;">superadmin</span>
<span class="sadmin" style="background-color: #5cb85c;margin-left:5px">user</span>

</div>
 <div id="div2" class="d2">
<!-- <img src="logo.jpj"> -->
<a href="#" onclick="funcNav()"><span class="fa"><i class="fa fa-bars"></i></span>CQ</a>
<a class="active" href="/userDetails"><span class="fa"><i id="act" class="fa fa-user"></i></span>Home</a>
<a href="#"><span class="fa"><i class="fa fa-users"></i></span>Communities</a>
<a href="#" id="switchspan"><span class="fa"><i class="fa fa-toggle-on"></i></span>Switch As Admin</a>
<a href="/Userchangepassword"><span class="fa"><i class="fa fa-lock"></i></span>Change Password</a>
<a href="#" id="logoutspan" onclick="logout1()"><span class="fa"><i class="fa fa-sign-out"></i></span>Logout</a>
</div>
<div class="mainpage">

</div>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p><b>Are you sure you want to logout ?</b></p>
<div id="btndiv">
<button type="button" id="yesbtn" name="button">Yes</button>
<button type="button" id="nobtn" name="button">No</button>
</div>
  </div>

</div>
