<div id="div1" class="d1">
<br>

  <a href="#"  style="height: 60px;">CQ</a>
  <span style="cursor:pointer;" onclick="logout()" class="glyphicon glyphicon-log-out">&#9776;</span>
  <img src="logo.jpg" style="height: 40px;display: block " id="barpic">
  <br>
  <span class="sadmin" style="background-color: #5cb85c;margin-left:5px; margin-right:10px">user</span>
  <!-- <span class="sadmin" style="background-color: #f0ad4e;">superadmin</span> -->
</div>
<div id="mymodal" class="modal">
<div id="modal" class="modal-content">
  <h2>Confirm Logout!</h2>
  <br>
  <p>Do You Really Want to Logout? </p>
  <br>
  <div>
  <button id="yes" onclick="rollback()" class="buttn">YES</button> <button id="no" onclick="reset()" class="buttn"  style="float:right position:relative margin-left:10px">NO</button>
  </div>
  </div>
  </div>
